.weather-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  margin-bottom: 80px;
}

.weather-location {
  font-size: 6rem;
  font-weight: bold;
}

.weather-icon {
  width: 200px;
  height: 200px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.weather-temp {
  font-size: 6rem;
  font-weight: bold;
}

.weather-description {
  font-size: 4rem;
}