.forecast-row {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
  padding: 0;
}

.forecast-row::-webkit-scrollbar {
  display: none;
}
