.weather-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbb;
  font-size: 32px;          /* base size that looks good on e-ink */
  column-gap: 12px;         /* spacing between grid cells        */
}

.weather-row__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: -10px;
  margin-top: -10px;
}

.weather-row__icon {
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  align-items: center;
}

.weather-row__icon-img {
  width: 100px;
  height: 100px;
  filter: grayscale(1) contrast(0.5);
}

.weather-row__condition {
  margin-right: 0px;
  /* let the column shrink if it has to, but don’t grow to fill */
  flex: 1 1 min-content;
}

.weather-row__condition[data-long='true'] {
  font-size: 28px;
}

.weather-row__temperature {
  font-weight: bold;
  margin-right: 0px;
}

.weather-row__sun-times {
  display: flex;
  font-size: 36px;
  font-weight: bold;
}

.weather-row__sun-times-up {
  margin-left: 16px;
}

.weather-row__sun-times-down {
  margin-right: 16px;
}

.weather-row__sun-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.weather-row__sun-times-down .weather-row__sun-icon {
  margin-left: 8px;
}

.weather-row__sun-times-up .weather-row__sun-icon {
  margin-right: 8px;
}