.calendar-events {
  padding: 12px;
  background: #fff;
  color: #000;
  font-size: 24px;
  flex: 1;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}
.calendar-events__day {
  padding-bottom: 4px;
  padding-top: 4px;
  break-inside: avoid;
}
.calendar-events__title {
  font-size: 28px;
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: bold;
}
.calendar-events__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.calendar-events__item {
  display: flex;
  align-items: flex-start;
  padding-bottom: 4px;
}

.calendar-events__item:last-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: -2px;
  padding-bottom: 10px;
}
.calendar-events__time {
  font-weight: bold;
  min-width: 70px;
  flex-shrink: 0;
  color: #333;
}
.calendar-events__title-text {
  color: #000;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2;
  flex: 1;
}
