.calendar-event {
  display: flex;
  align-items: baseline;
  margin-bottom: 4px;
  font-size: 24px;
}

.calendar-event__time {
  margin-right: 16px;
  font-weight: bold;
  color: #333;
  flex-shrink: 0;
}

.calendar-event__title {
  flex: 1;
  color: #000;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.calendar-event--all-day {
  margin-bottom: 0;
  background-color: #eee;
  padding-left: 8px;
  justify-content: center;
  text-align: center;
}
.calendar-event--single-all-day {
  flex: 0 1 150px;
  margin-left: 11px;
  align-self: center;

}
.calendar-event--all-day span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-event--all-day:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}
.calendar-event--all-day:not(:last-child) {
  margin-bottom: 2px;
}
.calendar-event--all-day:last-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
